

.container
  max-width: 1088px
  //border: 1px red solid
  margin: 0 auto

  padding: 0 20px


.nav
  display: flex
  justify-content: space-between
  align-items: center
  padding: 24px 0
  margin-bottom: 30px

  .logo
    display: inline-block
    .logo-pic
      width: 218px

  .nav-btn
    display: inline-block
    padding: 8px 32px
    text-decoration: none
    background-color: #FF5D50
    border-radius: 22px

    color: white
    line-height: 24px

.header, .platforms-container, .roles-container, .abilities-container, .reviews-container
  margin-bottom: 100px



.header
  display: flex
  align-items: center
  justify-content: space-between

  .headerContent
    flex-basis: 60%
    h1
      color: #56C4C5
      font-weight: bold
      font-size: 18px
      line-height: 26px
      margin-bottom: 8px
    p
      color: #221E1F
      font-weight: bolder
      font-size: 48px
      line-height: 70px

    h2
      color: #221E1F
      font-size: 20px
      line-height: 29px

      margin-top: 16px

  .headerImg_container

    flex-basis: 40%
    //border: 1px black solid
    .header-img
      max-width: 100%



.platforms-container
  h3
    color: #221E1F
    font-weight: bolder
    line-height: 46px
    font-size: 32px
    text-align: center
    margin-bottom: 48px

  .platforms

    display: flex
    justify-content: space-evenly

    .platform

      display: flex
      flex-direction: column
      align-items: center
      flex-basis: 30%
      max-width: 260px
      margin: 0 48px

      .platform-pic
        max-width: 90px

      .platform-title
        margin: 24px 0
        color: #221E1F
        font-weight: bolder
        font-size: 24px
        line-height: 35px
        text-align: center

      .platform-content
        text-align: center
        line-height: 24px
        color: #747474


.roles-container
  h3, .role-text
    text-align: center
    margin-bottom: 16px

  h3
    font-size: 32px
    font-weight: bolder
    color: #221E1F
    line-height: 46px

  .role-text
    font-size: 20px
    font-weight: bold
    color: #221E1F
    line-height: 29px

  .roles-list
    display: flex
    justify-content: space-between

  .role
    width: calc(25% - 16px)
    border-radius: 12px
    box-shadow: 1px 2px 1px 2px rgba(34, 30, 31, 0.1)
    padding-bottom: 24px

    img
      border-radius: 12px 12px 0 0

    h4, p
      text-align: center
      line-height: 24px

    h4
      margin: 16px 0
      color: rgba(86, 196, 197, 1)
      font-weight: bolder
    p
      padding: 0 16px
      margin-top: 24px


.abilities-container
  display: flex
  justify-content: space-between
  align-items: center

  .ability-cards
    display: flex
    flex-wrap: wrap
    gap: 4%

    .ability-card
      max-width: 230px
      flex-basis: 48%

      border-radius: 12px
      box-shadow: 0 2px 10px #00000014
      padding: 32px

      .ability-pic
        max-width: 52px
        box-shadow: 0 2px 10px #00000014

      h4, p
        text-align: left
        color: #221E1F

      h4
        font-weight: bolder
        line-height: 26px
        font-size: 18px

        margin: 24px 0 16px 0

      p
        line-height: 24px
        font-weight: bold
        margin-bottom: 16px


  .ability-content

    h4
      color: #221E1F
      line-height: 46px
      font-size: 32px
      font-weight: bolder

    p
      color: #221E1F
      line-height: 26px
      font-size: 18px
      font-weight: bold
      margin: 16px 0

    .ability-btn

      display: inline-block
      max-width: 136px
      background-color: #56C4C5
      padding: 12px 32px
      border-radius: 27px

      text-align: center
      color: white
      font-size: 18px
      line-height: 26px

      text-decoration: none
      margin-top: 8px



.reviews-container
  h3
    text-align: center
    font-size: 32px
    font-weight: bolder
    line-height: 46px
    color: #221E1F

    margin-bottom: 104px

  .reviews
    display: flex
    justify-content: space-between

    .review
      //border: 1px black solid
      border-radius: 12px
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
      position: relative
      max-width: calc(33% - 16px)
      padding: 24px 32px

      .reviewer-pic
        max-width: 80px
        border-radius: 50%
        position: absolute
        top: -56px
        left: 32px

      .review-content
        padding: 24px 0
        border-bottom: rgba(32, 30, 2, 0.05) solid


        p
          line-height: 24px
          color: #221E1F
          font-weight: bold

      .reviewer-content
        margin: 24px 0 8px 0
        display: flex
        justify-content: space-between

        flex-wrap: wrap

        .reviewer, .reviewer-title
          line-height: 24px
          color: #221E1F

        .reviewer
          flex-basis: 100%
          font-weight: bolder
          margin-bottom: 8px

        .reviewer-title
          font-weight: bold




.footer-plan
  //background: url("../IMG/home_footer.svg") no-repeat center/cover
  background-image: url("../IMG/home_footer.svg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  height: 503px
  display: flex
  justify-content: center
  align-items: center

  .container

    transform: translateY(123px)
    display: flex
    flex-wrap: wrap
    justify-content: center

    h3
      font-size: 2rem
      font-weight: 600
      color: #221E1F
      flex-basis: 100%
      text-align: center
      margin-bottom: 48px

    a
      display: inline-block

      border: 1px solid #56C4C5
      border-radius: 27px
      background-color: #56C4C5

      color: #ffffff
      text-align: center
      padding: 12px 32px



.footer
  background-color: #F5F5F5
  text-align: center


@media (max-width: 767px)
  .footer-plan
    height: 461px

  .roles-container
    .roles-list
      flex-wrap: wrap
      margin-top: 32px

      .role
        width: calc(50% - 16px)
        margin-bottom: 32px

  .platforms
    flex-wrap: wrap

    .platform
      width: 100%


  .reviews-container
    .reviews

      .review
        max-width: calc(50% - 16px)

      .review:last-child
        display: none

@media (max-width: 375px)

  .nav
    border-bottom: #f7d063 1px
    padding: 0 20px
    .logo
      .logo-pic
        max-width: 130px
    .nav-btn
      font-size: 24px

  .header
    flex-wrap: wrap
    .headerContent
      flex-basis: 100%
    .headerImg_container
      flex-basis: 100%
      margin-top: 32px

  .roles-container
    .roles-list
      .role
        width: 100%
        margin-bottom: 16px

  .abilities-container
    flex-direction: column-reverse

    .ability-cards
      justify-content: center

      .ability-card
        flex-basis: 100%
        margin-bottom: 24px
    .ability-content
      text-align: center

  .reviews-container
    .reviews
      flex-wrap: wrap

      .review
        max-width: 100%
        display: none
      .review:nth-child(1)
        display: block

  .platforms
    .platform
      margin-bottom: 48px